/*https://d2.naver.com/helloworld/4969726*/

@font-face {
    font-family:'SCDream1';
    src:url('../font/SCDream1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family:'SCDream2';
    src:url('../font/SCDream2.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family:'SCDream3';
    src:url('../font/SCDream3.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family:'SCDream4';
    src:url('../font/SCDream4.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family:'SCDream5';
    src:url('../font/SCDream5.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family:'SCDream6';
    src:url('../font/SCDream6.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family:'SCDream7';
    src:url('../font/SCDream7.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family:'SCDream8';
    src:url('../font/SCDream8.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family:'SCDream9';
    src:url('../font/SCDream9.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family:'Montserrat-Black';
    src:url('../font/Montserrat-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family:'Montserrat-Light';
    src:url('../font/Montserrat-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family:'NotoSansKR-Medium';
    src:url('../font/NotoSansKR-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

