/* common css */
.clearFix::after{content: ''; display: block; clear: both;}
.Wrap{width: 100%; position: relative;}
.content{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

/* header */
#header{
    width: 100%;
    position: fixed;
    z-index: 10;
    color: #fff;
}
#header.bbshow{
    background: rgba(0,0,0,.5); 
}
#header.on{
    opacity: 0;
    transition: all 0.7s ease-in-out;
}

.logo{
    float: left;
    width: 30%; height: 140px; line-height: 140px;
    padding: 0 50px;
    box-sizing: border-box;
}
.logo a{display: block;}
.logo a img{
    width: auto; height: auto;
}

#gnb{
    float: right;
    width: 70%;
    position: relative;
}
.depth1{
    float: left;
    width: 18.4%;
}
.depth1>a{
    display: block;
    font: bold 18px/140px 'SCDream5';
    color: #fff;
    height: 140px;
    text-align: center;
    padding:0 10px;
    transition: all 0.6s;
}
.depth1>a.on{
    color: #FF5B28;
    border-bottom: 1px solid #FF5B28;
}

.depth2{
    position: absolute;
    top: 140px;
    width: 18.4%;
    display: none;
}
.depth2 li{width: 100%;}
.depth2 li a{
    width: 100%;
    display: block;
    font: bold 18px/40px 'SCDream5';
    color: #fff;
    text-align: center;
    margin: 20px 0;
}
.depth2>li>a.on{
    color:#FF5B28 ;
}

.twoDbg{
    position: absolute;
    left: 0;
    top: 140px;
    width: 100%;
    height: 400px;
    z-index: 9;
    background: rgba(0,0,0,.5);

    display: none;
}

/* Mobile gnb css */
#gnbM{
    position: absolute;
    top: 0; right: -300px;
    width: 280px; height: 100vh;
    background: #FF5B28;
    z-index: 10;
    overflow: hidden;
}

.gnb-mobile{
    margin-top: 40px;
}
.depth1M{
    font: bold 14px 'SCDream4';
    padding: 15px 20px;
    box-sizing:border-box ;
}
.depth1M>a{display: block; color: white;}

.depth2M{
    width: 100%;
    box-sizing: border-box;
    padding: 15px 29px;
    border-bottom: 1px solid #d9d9d9;

    display: none;
}
.depth2M li{}
.depth2M li a{
    display: block;
    font: 14px 'SCDream4';
    padding: 10px 20px;
     color: white;
}

.mobileMenuXbt{
    position: absolute;
    top: 20px; right: 20px;
}
.mobileMenuXbt img{
    display: block;
    width: 16px;

    transform: rotate(0deg);
    transition: 1s;
}
.mobileMenuXbt:hover img{
    transform: rotate(-360deg);
}

/* Mobile BTN dimd-BG */
.dimBg{
    position: absolute;
    width: 100vw; height: 100vh;
    top: 0; left: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 8;

    display: none;
}
.m_gnb_right{
    position: absolute;
    top: 60px; right: 20px;
    z-index: 10;

    display: none;
}
.sns-mobile{
    text-align: center;
    padding: 16px 2px;
}


/* Responsive Mobile gnb css */
@media all and (max-width:1204px){

    .m_gnb_right{display: block;}
    
    #gnb{display: none;}


    .logo{
        float: left;
        width: 10%; height: 24px; line-height: 140px;
        padding: 0 50px;
        box-sizing: border-box;
    }

    .logo{
        width: 10%; height: 24px; line-height: 140px;
    }
    .logo a{display: inline-block;}
    .logo a img{
        width: auto; height: 24px;
    }

}



/* ------SUB2 style start------ */

/* SUB2 _ main_visual */
.mainVisual {
    width: 100%;
    height: 1073px;
    position: relative;
}
.visual-wrap {
    width: 100%;
    height: 100%;
    z-index: 1;
    background: url(../img/sub2/main-visual.png) no-repeat center/cover;

}
.txtWrap{
    position: absolute;
    top: 30%; left: 50%;
    transform: translateX(-50%);
    color: #fff;
    text-align: center;
}
.title{
    font: bold 72px 'SCDream5';
}
.txtWrap p{
    font: 18px 'SCDream3';
}


/* Contet -section */
section{
    margin: 80px 0 150px 0;
    width: 100%;
}

.topWrap{
    background-color: #f5f2fe;
    width: 100%;
    font: bold 18px 'SCDream3';
    padding: 10px 0;
    margin: 10px 0;
}
.store-search{
    margin: 0 auto;
}
.selL{
    display: block;
    background-color: #fff;
    height: 50px; line-height: 50px;
    width: 20%;
    border-radius: 30px;
    margin-left: 4%;
    text-align: center;
    float: left;
    position: relative;
}
.sel-slide{
    position: absolute;
    top: 50px; left: 0;
    background-color: #fff;
    width: 100%;
    border-radius: 30px;

    display: none;
}
.sel-slide li{
    width: 100%;
    cursor: pointer;
}
.sel-slide li.on{
    color: #FF5B28;
}

.schR{
    display: block;
    width: 70%;
    border-radius: 30px;
    margin-right:4%;
    float: right;
}
.schR form{
    width: 100%;
    border-radius: 30px;
    height: 50px; line-height: 50px;
    background-color: #fff;
}
.schR form input{
    outline: none;
    border: 0;
    width: 80%;
    margin: 0 2%;
}
.schR form button{
    background: none;
    border: 0;
    width: 10%;
    margin: 0 2%;
    
}
.schR form button i{
    color: #FF5B28;
    font-size: 30px;
    cursor: pointer;
}

.bottomWrap{
    width: 100%;
    display: table;
}
.mapL{
    display: table-cell; width: 50%; height: 510px;
}
.mapL iframe{width: 100%; height: 100%;}

.store-list{
    display: table-cell; width: 50%;
    position: relative;
}
.store-list>ul{
    padding-left:20px ;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    top: 0; 
}
.store-list>ul>li{
    border-bottom:1px solid rgba(0,0,0,.2);
    padding: 20px 10px;
    position: relative;
    display: block;
}
.store-list>ul>li:first-child{
    border-top: 2px solid rgba(0,0,0,.8);
}
.store-list>ul>li:last-child{
    border-bottom:none;
}

.store_tit>h4{
    font: bold 18px 'SCDream3';
    display: inline-block;
}
.store_tit>span{
    font: bold 12px 'SCDream3';
    padding: 5px 10px;
    border-radius: 15px;
    background-color: #FF5B28;
    color: #fff;
    margin: 0 4px;
}
.store_tit>i{
    width: 30px; height: 18px;
    background: url(../img/sub2/angle-arrow-down.png) no-repeat 0 0;
    cursor: pointer;
    position: absolute;
    right: 6%;
}

.store_tit.on >i{
    width: 30px; height: 18px;
    background: url(../img/sub2/angle-arrow-up.png) no-repeat 0 0;
    cursor: pointer;
    position: absolute;
    right: 6%;
}

.hide_info{
    width: 100%;
    overflow: auto;
    position: relative;
    box-sizing: border-box;
    padding: 20px 0;
    
    display: none;
}

.store_img{
    width: 20%;
    background-color: blueviolet;
    float: left;
    margin: 0 20px;
}
.store_img img{
    width: 100%;
}
.store_info{
    width: 70%;
    float: right;
    position: relative;
}
.store_info>h4{
    font: bold 24px 'SCDream3';
    display: inline-block;
    margin-bottom: 20px;
}
.store_info>span{
    font: bold 12px 'SCDream3';
    padding: 5px 10px;
    border-radius: 15px;
    background-color: #FF5B28;
    color: #fff;
    margin: 0 4px;
}
.store_info>p{
    font: bold 16px 'SCDream3';
    display: inline-block;
    margin: 0px;
}

/* PC pagination*/
.pagination{
    width: 100%;
    margin: 10px 0;
    padding: 10px 0;
}
.pagination>ul{
    text-align: center;
}
.pagination>ul>li{
    display: inline-block;
    padding: 2px 4px;
    margin: 2px 4px;
}
.pagination>ul>li>a{
    font: bold 20px 'SCDream3';
}


/* Mobile pagination */
.mobile-pagination{
    width: 100%;
    margin: 10px 0;
    padding: 10px 0;

    display: none;
}
.mobile-pagination>ul{
    text-align: center;
}
.mobile-pagination>ul>li{
    display: inline-block;
    padding: 2px 4px;
    margin: 2px 4px;
}
.mobile-pagination>ul>li>a{
    font: bold 20px 'SCDream3';
}


/* footer */
footer{
    background: url(../img/common/f_bg.png) no-repeat;
    width: 100%;
    height: 659px;
    position: relative;
}
.footer-wrap-left{
    position: absolute;
    top: 30%; left: 10%;
    color: #fff;
    font: 18px'NotoSansKR-Medium';
}

.f_gnb{
    width: 100%;
    margin-bottom:40px ;
}
.f_gnb li{
    float: left;
    padding-right: 30px;
    box-sizing: border-box;
}
.f_gnb li a{
    color: white;
}
.footer-wrap-left>address{
    margin: 10px 0;
    padding: 10px 0;
}
.footer-wrap-left>span{
    display: block;
    margin-top: 40px;
}
.footer-wrap-right{
    position: absolute;
    top: 30%; right: 10%;
    text-align: right;
}
.f_logo{
    box-sizing: border-box;
    margin-bottom: 50px;
    cursor: pointer;
    z-index: 5;
}


/* fixed Top BTN */
aside #topBtn{
    position: fixed;
    bottom: 20px; right: 20px;
    width: 60px;
    height: 60px;
	background: linear-gradient(-45deg, #f9ce34,  #ee2a7b   ,#6228d7);
	background-size:  400%  400%;
    transition: all 0.5s;

    z-index: 20;
}

#topBtn.on{
    opacity: 0;
}
#topBtn i {
    font-size: 60px;
    color: #fff;
}

#topBtn:hover{
    animation: gradient 3s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



/* Responsive Media - Tablet */
@media all and (max-width:960px) { 
    .mainVisual {
        width: 100%;
        height: 400px;
    }
    .visual-wrap {
        width: 100%;
        height: 100%;
        z-index: 1;
        background: url(../img/sub2/main-visual.png) no-repeat center/cover;
    }
    .title{
        font: bold 42px 'SCDream5';
    }
    .txtWrap p{
        font: 18px 'SCDream3';
    }

    .content{
        width: 98%;
        margin: 0 1%;
    }
    section{
        width: 100%;
        margin: 50px 0 100px 0;
    }
    .store_img{
        width: 20%;
        background-color: blueviolet;
        float: left;
        margin: 0 15px ;
        box-sizing: border-box;
    }
    .store_img img{
        width: 100%;
        background-color: #ee2a7b;
    }
    .store_info{
        width: 70%;
        float: right;
        position: relative;
    }
    .store_info>h4{
        font: bold 20px 'SCDream3';
        display: inline-block;
        margin-bottom: 20px;
    }
    .store_info>span{
        display: none;
    }
    .store_info>p{
        font: bold 14px 'SCDream3';
        display: inline-block;
        margin: 0px;
    }

    .qMenu{display: none;}
    .f_gnb{display: none;}
    .f_sns{display: none;}

    footer{
        width: 100%;
        height: 1000px;
        position: relative;
    }
    .footer-wrap-left{
        position: absolute;
        top: 10%; left: 27%;
        color: #fff;
        font: 13px'NotoSansKR-Medium';
        text-align: center;
    }
    .footer-wrap-right{
        position: absolute;
        top:3%; right: 36%;
        text-align: center;
    }
    .footer-wrap-left>span{
        margin-top: 80px;
    }

    #qMenu-mobile{
        position: relative;
        z-index: 10;
    }
    #qMenu-mobile>a{
        display: block;
        position: absolute;
        top: 60px; left: 10px;
    } 
}


/* Responsive Media - Moible*/
@media all and (max-width:380px) {
    .mainVisual {
        width: 100%;
        height: 400px;
    }
    .visual-wrap {
        width: 100%;
        height: 100%;
        z-index: 1;
        background: url(../img/sub2/main-visual.png) no-repeat center/cover;
    }
    .title{
        font: bold 36px 'SCDream5';
    }
    .txtWrap p{
        font: 12px 'SCDream3';
    }

    section{
        width: 100%;
        margin: 30px 0 580px 0;
    }
    .selL{
        width: 100%;
        margin-left: 0%;
        margin-bottom: 10px;
    }
    .schR{
        width: 100%;
        margin-right:0%;
        float: left;
    }
    .schR form input{
        margin: 0%;
    }
    .schR form button i{
        font-size: 20px;
        margin: 0%;
    }

    .bottomWrap{
        width: 100%;
    }
    .mapL{
        display: block; width: 100%; height: 100%;
    } 
    .mapL iframe{width: 100%; height: 100%;}

    .store-list{
        display: block; width: 100%;
        position: relative;
    }

    .mobile-pagination{
        display: block;
    }
    .pagination{
        display: none;
    }
    .store-list>ul{
        padding-left:0px ;
    }

    .store_img{
        width: 20%;
        background-color: blueviolet;
        float: left;
        margin: 0 15px ;
        box-sizing: border-box;
    }
    .store_img img{
        width: 100%;
        background-color: #ee2a7b;
    }
    .store_info{
        width: 70%;
        float: right;
        position: relative;
    }
    .store_info>h4{
        font: bold 20px 'SCDream3';
        display: inline-block;
        margin-bottom: 20px;
    }
    .store_info>span{
        display: none;
    }
    .store_info>p{
        font: bold 14px 'SCDream3';
        display: inline-block;
        margin: 0px;
    }

    .qMenu{display: none;}
    .f_gnb{display: none;}
    .f_sns{display: none;}

    footer{
        width: 100%;
        height: 500px;
        position: relative;
    }
    .footer-wrap-left{
        position: absolute;
        top: 50%; left: 0%;
        color: #fff;
        font: 12px'NotoSansKR-Medium';
        text-align: center;
    }
    .footer-wrap-right{
        position: absolute;
        top:30%; right:20%;
    }
    .footer-wrap-left>span{
        margin-top: 50px;
    }

    #qMenu-mobile{
        position: relative;
        z-index: 10;
    }
    #qMenu-mobile>a{
        display: block;
        position: absolute;
        top: 60px; left: 10px;
    }
}


